<!DOCTYPE html>
<html>

<head>
  <title>ETP DIGITAL</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

  {% extends admin_base_template %}

  {% block body %}
  <button onclick="window.location.href = '{{ url_for('index') }}'">Criar formulário ETP /IN 40 e 94</button>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3>ETP DIGITAL /IN 40</h3>
      <!-- <div class="scrollable-content"> -->
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Processo</th>
            <th>Usuário</th>
            <th>Nome do ETP - Data e Hora</th>
            <th>Baixar PDF</th>
            <th>Baixar CSV</th>
            <th>Editar</th>
            <th>Importar ComprasNet</th>

          </tr>
        </thead>
        <tbody class="scrollable-tbody">
          {% for etp in etp40 %}
          <tr>
            <td>{{etp.id}}</td>
            <td> Criador {{current_user.username}}</td>
            <td>ETP40_{{etp.date_created.strftime('%d/%m/%Y %H:%M:%S')}}</td>
            <td>
              <form action="{{ url_for('baixar_pdf') }}" method="POST">
                <input type="hidden" name="id_form" value="{{etp.id}}">
                <input type="hidden" name="status" value="editar">
                <button type="submit" class="btn btn-link invisible-button"><i class="fa fa-file-pdf-o fa-2x"
                    aria-hidden="true" class="style-icon "></i></button>
              </form>
            </td>
            <td>
              <form action="{{ url_for('gerar_csv') }}" method="POST">
                <input type="hidden" name="id_form" value="{{etp.id}}">
                <input type="hidden" name="status" value="editar">
                <button type="submit" class="btn btn-link invisible-button"><i class="fa fa-file-excel-o fa-2x"
                    aria-hidden="true" class="style-icon "></i></button>
              </form>
            </td>
            <td>
              <form action="{{ url_for('retomar_dados') }}" method="POST">
                <input type="hidden" name="id_form" value="{{etp.id}}">
                <input type="hidden" name="status" value="editar">
                <button type="submit" class="btn btn-link invisible-button"><i class="fa fa-pencil-square-o fa-2x"
                    aria-hidden="true" class="style-icon "></i></button>
              </form>
            </td>
            <td>
              <form action="#" method="POST">
                <input type="hidden" name="id_form" value="{{etp.id}}">
                <input type="hidden" name="status" value="1">
                <button type="button" class="btn-login btn btn-link invisible-button"><i
                    class="fa fa-external-link fa-2x" aria-hidden="true" class="style-icon "></i></button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- </div> -->
      <h3>ETP DIGITAL TIC /IN 94</h3>
      <div class="scrollable-content">
        <table class="table table-striped table-hover scrollable-table">
          <thead>
            <tr>
              <th>Processo</th>
              <th>Usuário</th>
              <th>Nome do ETP - Data e Hora</th>
              <th>Baixar PDF</th>
              <th>Baixar CSV</th>
              <th>Editar</th>
              <th>Importar ComprasNet</th>

            </tr>
          </thead>
          <tbody>
            {% for etp in etp94 %}
            <tr>
              <td>{{etp.id}}</td>
              <td> Criador {{current_user.username}}</td>
              <td>ETP94_{{etp.date_created.strftime('%d/%m/%Y %H:%M:%S')}}</td>

              <td>
                <form action="{{ url_for('baixar_pdf_94') }}" method="POST">
                  <input type="hidden" name="id_form" value="{{etp.id}}">
                  <input type="hidden" name="status" value="editar">
                  <button type="submit" class="btn btn-link invisible-button"><i class="fa fa-file-pdf-o fa-2x"
                      aria-hidden="true" class="style-icon "></i></button>
                </form>
              </td>
              <td>
                <form action="{{ url_for('gerar_csv_94') }}" method="POST">
                  <input type="hidden" name="id_form" value="{{etp.id}}">
                  <input type="hidden" name="status" value="editar">
                  <button type="submit" class="btn btn-link invisible-button"><i class="fa fa-file-excel-o fa-2x"
                      aria-hidden="true" class="style-icon "></i></button>
                </form>
              </td>
              <td>
                <form action="{{ url_for('retomar_dados_94') }}" method="POST">
                  <input type="hidden" name="id_form" value="{{etp.id}}">
                  <input type="hidden" name="status" value="editar">
                  <button type="submit" class="btn btn-link invisible-button"><i class="fa fa-pencil-square-o fa-2x"
                      aria-hidden="true" class="style-icon "></i></button>
                </form>
              </td>
              <td>
                <form action="#" method="POST">
                  <input type="hidden" name="id_form" value="{{etp.id}}">
                  <input type="hidden" name="status" value="2">
                  <button type="button" class="btn-login btn btn-link invisible-button"><i
                      class="fa fa-external-link fa-2x" aria-hidden="true" class="style-icon "></i></button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <script>
        // Função para enviar o formulário de login
    function enviarFormulario() {
      const button = $(this); // Pega o botão que foi clicado
      const id_form = button.siblings('[name="id_form"]').val(); // Pega o valor do atributo "id_form"
      const etp = button.siblings('[name="status"]').val();
      // const userAgent = navigator.userAgent;


      Swal.fire({
        title: 'Login',
        html: '<form id="login-form">' +
          '<input type="text" id="username" class="swal2-input" placeholder="Usuário">' +
          '<input type="password" id="password" class="swal2-input" placeholder="Senha">' +
          '</form>',
        focusConfirm: false,
        preConfirm: () => {
          const username = $('#username').val();
          const password = $('#password').val();

          let link;
          if (etp === '1') {
            link = '/retomar_dados_import'; // Altere para o URL correto para etp === '1'
          } else if (etp === '2') {
            link = '/retomar_dados_import_94'; // Altere para o URL correto para etp === '2'
          }
          // else {
          //   // Trate outros valores de etp aqui, se necessário
          //   print('não informado')
          // }

          // Enviar os dados de login para o backend (app.py) usando AJAX
          $.ajax({
            url: link,
            method: 'POST',
            data: { username: username, password: password, id_form: id_form, etp: etp },// userAgent: userAgent }, // Envia o id_form também
            success: function (response) {
              // Se a autenticação for bem-sucedida, redireciona para a página do Selenium
              if (response.status === 'success') {
                window.location.href = '/'; // Substitua '/pagina_selenium' pela rota correta do Selenium.
              } else {
                // Se a autenticação falhar, mostra uma mensagem de erro no SweetAlert2
                Swal.fire('Erro', 'Login ou senha inválidos', 'error');
              }
            },
            error: function (error) {
              console.error('Erro ao enviar dados de login:', error);
              Swal.fire('Erro', 'Ocorreu um erro no servidor', 'error');
            },
          });
        }
      });
    }

    // Adicionar o evento de clique aos botões de classe "btn-login"
    $('.btn-login').click(enviarFormulario);
  </script>
  {% endblock %}

</body>

</html>