<!DOCTYPE html>
<html>
<head>
    <title>Rota 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>

</head>
<body>
    <h1>Rota 1</h1>
    {% if request.path != '/rota1' %}
        <a href="/rota1">Voltar</a>
    {% endif %}
    <form id="confirmacao-form" action="/rota2" method="post">
        <div>
            <textarea id="editor" name="conteudo"></textarea>
        </div>
       
        <label>
            <input type="checkbox" id="confirmacao-checkbox" required>
            Eu li e entendi o conteúdo.
        </label>
        <br>
        <button type="submit" id="proxima-rota">Próxima Rota</button>
    </form>

    <script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const showTermsAndConditions = async () => {
                    const { value: accept } = await Swal.fire({
                        title: 'Terms and conditions',
                        input: 'checkbox',
                        inputValue: 1,
                        inputPlaceholder: 'I agree with the terms and conditions',
                        confirmButtonText: 'Continue <i class="fa fa-arrow-right"></i>',
                        inputValidator: (result) => {
                            return !result && 'You need to agree with T&C';
                        }
                    });
    
                    if (accept) {
                        Swal.fire('You agreed with T&C :)');
                    }
                };
    
                showTermsAndConditions();
            });
        </script>
    </script>
    <script src="{{ url_for('static', filename='js/sweetalert2.min.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            CKEDITOR.replace('editor');
        });
    </script>
</body>
</html>
